<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>FACE ANALYZER</h1>

    <video autoplay="true" id="videoElement"></video>
    <p>EMOTION:</p>
    <div id="emotion_prediction">N/A</div>
    <canvas id="video_canvas" style="overflow:auto"></canvas>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>


    <script type="text/javascript">
        // Stream video back to client.
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (error) {
                    console.log("Something went wrong!");
            });
        }
    </script>

    <script type="text/javascript" charset="utf-8">
        // Capture video frames from client, send them to the server, and recieves the response.
        $(document).ready(function() {
            var socket = io("/emotion_detector");

            // Sends video data to the server every 2 seconds.
            window.setInterval(function() {
                var cap = document.getElementById('video_canvas');
                socket.emit("my_event", {data: cap.toDataURL('image/jpeg')});
            }, 5000);

            // Send response from server to client.
            socket.on('emotion_response', function(msg, cb) {
                $('#emotion_prediction').text(msg.data);
                if (cb)
                    cb();
            });
        });

        // Write the video data
        function capture() {
            var canvas = document.getElementById('video_canvas');
            var video = document.getElementById('videoElement');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0, video.videoWidth, video.videoHeight);

            canvas.toBlob() = (blob) => {
            const img = new Image();
            img.src = window.URL.createObjectUrl(blob);


            canvas.style.display="none"; // figure out how to hide this
            };
        }

        window.setInterval(function() {
            capture();
        }, 5000);
    </script>










    <!-- <script type="text/javascript">
        // This script sends frames from the video playback to the server.
        video = document.getElementById("video")

        let isPlaying = false, gotMetadata = false;

        video.onloadedmetadata = () => {
            gotMetadata = true;
            if (isPlaying)
                startObjectDetection();
        };
            video.onplaying = () => {
            isPlaying = true;
            if (gotMetadata) {
                startObjectDetection();
            }
        };


        let imageCanvas = document.createElement('canvas');

        function postFile(file) {

            let formdata = new FormData();
            formdata.append("image", file);

            let xhr = new XMLHttpRequest();
            xhr.open('POST', window.location.origin + '/image', true);
            xhr.onload = function () {
                if (this.status === 200) {
                    let objects = JSON.parse(this.response);
                    imageCanvas.toBlob(postFile, 'image/jpeg');
                }
                else {
                    console.error(xhr);
                }
            };
        xhr.send(formdata);
        }

        function sendImageFromCanvas() {
            imageCanvas.toBlob(postFile, 'image/jpeg');
        }

        setInterval(sendImageFromCanvas, 5000);
    </script> -->




</body>
</html>